:root {
  --background: #2f4f4f;
  --border-one: #AEC6CF;
  --border-two: #FF6961;
}


body {
  background: rgb(21, 122, 122);
  background: radial-gradient(circle, rgba(21, 122, 122, 1) 0%, rgba(47, 79, 79, 1) 37%);
  height: 100vh;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.text-shadow {
  text-shadow: 1px 1px 1px black;
}


.team-one-border {
  min-height: 3em;
  width: auto;
  border: 3px solid var(--border-one);
}

.team-two-border {
  min-height: 3em;
  width: auto;
  border: 3px solid var(--border-two);
}

.btn-outline {
  border: 1px solid black;
}



@media screen and (max-width: 1200px) {
  .team-one-border {
    min-height: 5em;
    width: auto;
    border: 3px solid var(--border-one);
  }

  .team-two-border {
    min-height: 5em;
    width: auto;
    border: 3px solid var(--border-two);
  }
}