:root {
  --background: darkslategray;
  --border-one: #AEC6CF;
  --border-two: #FF6961;
}


body {
  background-color: var(--background);
}

.team-one-border {
  min-height: 3em;
  width: auto;
  border: 3px solid var(--border-one);
}

.team-two-border {
  min-height: 3em;
  width: auto;
  border: 3px solid var(--border-two);
}

.btn-outline {
  border: 1px solid black;
}



@media screen and (max-width: 1200px) {
  .team-one-border {
    min-height: 5em;
    width: auto;
    border: 3px solid var(--border-one);
  }

  .team-two-border {
    min-height: 5em;
    width: auto;
    border: 3px solid var(--border-two);
  }
}